<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Estadísticas de Adopciones</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Adopción de Mascotas</h1>
        <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Portada</a></li>
            <li><a href="{{ url_for('agregar_aviso') }}">Agregar aviso de adopción</a></li>
            <li><a href="{{ url_for('listado') }}">Ver listado de adopciones</a></li>
            <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <h2>Estadísticas de Adopciones</h2>

        <h3>Cantidad de avisos por día</h3>
        <div id="grafico_lineas" style="width:600px; height:400px;"></div>

        <h3>Total de avisos por tipo de mascota</h3>
        <div id="grafico_torta" style="width:400px; height:400px;"></div>

        <h3>Cantidad de avisos por mes y tipo de mascota</h3>
        <div id="grafico_barras" style="width:600px; height:400px;"></div>

        <br><br>
        <a href="{{ url_for('index') }}" class="btn">Volver a la portada</a>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
</body>
</html>
